* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    font-family: sans-serif;
    color: #fff;
    object-fit: contain;
    background-color: #123;
}

.padding {
    padding: 5rem 1rem;
}

header nav {
    width: inherit;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}

header nav #logo {
    width: 130px;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav #logo i {
    font-size: 20pt;
}

header nav #menu ul {
    width: auto;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    align-items: center;
}

header nav #menu ul li {
    list-style-type: none;
    cursor: pointer;
}
header nav #menu ul li a{
    text-decoration: none;
    color: #fff;
}
.sidebar {
    position: fixed;
    top: 130px;
    transition: 0.5s all;
}

.sidebar ul {
    width: 125px;
    height: auto;
    padding: 0.3rem 0.5rem;
    border: 0.4px solid #fff;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.sidebar ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1.7;
    cursor: pointer;
    transition: 0.3s all;
    padding: 0rem 0.3rem;
}

.sidebar ul li:hover {
    background-color: #fff;
    color: #001538;
}

.banner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: -33;
 
}

.banner h1 {
    text-transform: capitalize;
    margin-top: -70px;
    font-size: 50pt;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
    transition: 0.6s all;
}

.opacity{
    opacity: 0;
}
.service {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 0rem;
    gap: 1.6rem;
}

.service .pack {
    width: 100%;
    height: auto;
    background-color: #00153896;
    padding: 1rem;
    transition: 0.5s all;
    border-radius: 10px;
}

.service .pack:hover {
    background-color: #001538;
}

.service .pack p {
    text-align: justify;
    margin-top: 1rem;
    font-size: 10pt;
}

.service .pack hr {
    margin-top: 1rem;
}


.about {
    width: 100%;
    height: auto;
}
.about p{
    text-align: justify;
    line-height: 1.6;
}

.about p::first-letter{
    font-size: 20pt !important;
}
.about .boxcon{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
}
.about .boxcon .box{
    width: 100%;
    height: auto;
}
.about .boxcon .box:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about .boxcon .box:last-child i{
    font-size: 190pt;
}
.about .boxcon .box:first-child h2{
    font-size: 70pt;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
}
plane {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 0rem;
    gap: 1.6rem;
}

plane .pack {
    width: 100%;
    height: auto;
    background-color: #00153896;
    padding: 1rem;
    transition: 0.5s all;
    border-radius: 10px;
    overflow: hidden;
}

plane .pack .icon,
.service .pack .icon {
    text-align: center;
    font-size: 50px;
    margin: 0.7rem 0rem;
}

plane .pack:hover {
    background-color: #001538;
}

plane .pack p {
    text-align: justify;
    margin-top: 1rem;
    font-size: 10pt;
}

plane .pack hr {
    margin-top: 1rem;
}

plane .pack button {
    padding: 0.3rem 0.5rem;
    margin: 1.5rem 0rem;
    cursor: pointer;
    margin-left: -5.6rem;
    transition: 0.5s all;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    text-transform: capitalize;
}

section{
    width: 100%;
    height: auto;
}

section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.6rem;
}

section form input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    padding: 0.5rem;
    color: #fff;
}
section form textarea{
    width: 100%;
    min-height: 250px;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    padding: 0.5rem;
    color: #fff;
    resize: none;
}

section #btn{
    transition:  0.5s all;
}
section #btn:hover{
    background-color: #fff;
    color: #001538;
}
plane .pack:hover button {
    margin-left: 0rem;
    border: 0.5px solid #fff;
}

plane .pack button:hover {
    margin-left: 0rem;
    background-color: #fff;
    color: #001538;
}

.blog {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
    margin: 4rem 0rem;
}

.blog .block:nth-child(2),
.blog .block:nth-child(3),
.blog .block:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .block:nth-child(2) i,
.blog .block:nth-child(3) i,
.blog .block:last-child i {
    font-size: 150pt;
}

.testimonial {
    width: 100%;
    height: auto;
    margin: 3.5rem 0rem;
    background-color: rgba(0, 0, 0, 0.6);
}


footer .link {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    gap: 2rem;
}

footer .link ul {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3rem 2rem;
}

footer .link ul li {
    list-style-type: none;
}

footer .link ul li a {
    text-decoration: none;
    color: blue;
    text-transform: capitalize;
    color: #fff;
    transition: 0.5s all;
    line-height: 1.5;
    font-style: italic;
}

footer .link ul li a:hover {
    color: blue;
}

footer .s_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
}

footer .s_link i {
    transition: 0.2s all;
    font-size: 19pt;
    opacity: 0.4;
    cursor: pointer;
}

#close, #toggleButon{
    display: none;
}

/* #toggleButon{
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
} */

#close i{
    font-size: 20pt;
    float: right;
    margin: 5%;
}

footer .s_link i:hover {
    opacity: 1;
}

footer .copy_right {
    font-size: 10pt;
    padding: 2.8rem 2rem !important;
}

footer #toTop {
    overflow: hidden;
    cursor: progress;
}

footer #toTop i {
    transition: 0.5s all;
    font-size: 20pt;
}

footer #toTop:hover #flight {
    animation: up 1s linear infinite;
}

.takeOfDone {

    transform: translateY(-100px) !important;
}

@keyframes up {

    0%,
    100% {
        margin-top: -30px;
    }

    20% {
        margin-top: 30px;
    }

    40% {
        margin-top: -30px;
    }

    60% {
        margin-top: 30px;
    }

    80% {
        margin-top: -30px;
    }
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    transition: 0.5s all;
    background-color: rgba(0, 0, 0.6);
    z-index: 220;
}